.column {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

form .field {
  margin: auto;
  max-width: 740px;
}

.Icon {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.Icon2 {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.Title {
  font-size: 45px;
}

.Margin {
  margin-left: 23vh;
  margin-right: 23vh;
}

.box {
  box-shadow: 0 20px 30px rgba(10, 10, 10, 0.7), 0 0 0 1px rgba(10, 10, 10, 0.7);
}

#select {
  width: 100%;
}

.Margin {
  margin-left: 33vh;
  margin-right: 35vh;
}
.box {
  box-shadow: 0 20px 30px rgba(10, 10, 10, 0.7), 0 0 0 1px rgba(10, 10, 10, 0.7);
}

/*.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .contenedor-formulario {
    width: 400px;
  }

  .download {
    background: #1081ff;
    color: #FFFFFF;
    padding: 10px 20px;
    margin-bottom: 20px;
    a {
      text-decoration: underline;
      color: #FFFFFF;
    }
  }
}*/

.Tit, .key {
  float: left;
  font-weight: bold;
}