<div class="hero-body">
  <div class="container has-text-centered">
    <h1 class="title has-text-light Title">Welcome Author {{ username }}</h1>
    <p class="subtitle has-text-light   ">
      Algo así, bien impactante
    </p>
    <br />
    <br />
  </div>
  <div class="info">
    <div class="columns">
      <div class="column">
        <article class="box tile is-child notification is-light">
          <h1 class="title Title has-text-centered has-text-dark">
            Send your Article
          </h1>
          <span class="icon Title">
            <i class="fas fa-file-upload"></i>
          </span>
          <div class="content">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis
              est officia officiis, quae, sapiente optio neque molestiae
              repudiandae beatae dolor doloribus maxime illo! Consectetur,
              numquam saepe maxime illo delectus magnam.
            </p>
          </div>
          <button
            class="button is-dark is-large is-fullwidth is-outlined is-rounded"
            routerLink="/Autor/Send"
          >
            <span class="icon">
              <i class="fas fa-sign-in-alt"></i>
            </span>
            <span>Send</span>
          </button>
        </article>
      </div>
      <div class="column">
        <article class="box tile is-child notification is-light">
          <h1 class="title Title has-text-centered has-text-dark">
            Review your Articles
          </h1>
          <span class="icon Title">
            <i class="fas fa-search"></i>
          </span>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
              nam repudiandae repellendus aspernatur, quasi vero? Laboriosam,
              magnam! Dolor fugiat id saepe doloremque rem delectus
              reprehenderit hic nostrum at, molestias nobis?
            </p>
          </div>
          <button
            class="button is-dark is-large is-fullwidth is-outlined is-rounded"
            routerLink="/Autor/Review"
          >
            <span class="icon">
              <i class="fas fa-sign-in-alt"></i>
            </span>
            <span>Review</span>
          </button>
        </article>
      </div>
      <div class="column">
        <article class="box tile is-child notification is-light">
          <h1 class="title Title has-text-centered has-text-dark">
            List of your Articles
          </h1>
          <span class="icon Title">
            <i class="fas fa-list"></i>
          </span>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
              nam repudiandae repellendus aspernatur, quasi vero? Laboriosam,
              magnam! Dolor fugiat id saepe doloremque rem delectus
              reprehenderit hic nostrum at, molestias nobis?
            </p>
          </div>
          <button
            class="button is-dark is-large is-fullwidth is-outlined is-rounded"
            routerLink="/Autor/List"
          >
            <span class="icon">
              <i class="fas fa-sign-in-alt"></i>
            </span>
            <span>List</span>
          </button>
        </article>
      </div>
    </div>
  </div>
</div>
