<div class="hero-body">
  <div class="container has-text-centered">
    <h1 class="title has-text-light Title">Welcome Evaluator{{ username }}</h1>
    <p class="subtitle has-text-light">
      Algo así, bien impactante
    </p>
    <br />
  </div>
  <div class="info">
    <div class="columns">
      <div class="column Margin">
        <article class="box tile is-child notification is-light">
          <h1 class="title Title has-text-centered has-text-dark">
            Evaluate Articles
          </h1>
          <span class="icon Title">
            <i class="fas fa-file-upload"></i>
          </span>
          <div class="content">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis
              est officia officiis, quae, sapiente optio neque molestiae
              repudiandae beatae dolor doloribus maxime illo! Consectetur,
              numquam saepe maxime illo delectus magnam.
            </p>
          </div>
          <button
            class="button is-dark is-large is-fullwidth is-outlined is-rounded"
            routerLink="/Evaluator/Test">
            <span class="icon">
              <i class="fas fa-sign-in-alt"></i>
            </span>
            <span>Evaluate</span>
          </button>
        </article>
      </div>
    </div>
  </div>
</div>
