<div class="hero-body">
  <div class="info">
    <div class="columns Container">
      <div class="column">
        <article class="box tile is-child notification is-light">
          <h1 class="title Title has-text-centered has-text-dark">
            Author
          </h1>
          <span class="icon Title">
            <i class="fas fa-user-tag is-centered"></i>
          </span>
          <div class="content">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis
              est officia officiis, quae, sapiente optio neque molestiae
              repudiandae beatae dolor doloribus maxime illo! Consectetur,
              numquam saepe maxime illo delectus magnam.
            </p>
          </div>
          <button
            class="button is-info is-medium is-fullwidth is-outlined is-rounded is-centered"
            routerLink="/Signup/Autor"
          >
            <span class="icon">
              <i class="fas fa-sign-in-alt"></i>
            </span>
            <span>SIGN UP BY AUTHOR</span>
          </button>
        </article>
      </div>
      <div class="column">
        <article class="box tile is-child notification is-light">
          <h1 class="title Title has-text-centered has-text-dark">
            Editor
          </h1>
          <span class="icon Title">
            <i class="fas fa-user-edit"></i>
          </span>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
              nam repudiandae repellendus aspernatur, quasi vero? Laboriosam,
              magnam! Dolor fugiat id saepe doloremque rem delectus
              reprehenderit hic nostrum at, molestias nobis?
            </p>
          </div>
          <button
            class="button is-info is-medium is-fullwidth is-outlined is-rounded"
            routerLink="/Signup/Editor"
          >
            <span class="icon">
              <i class="fas fa-sign-in-alt"></i>
            </span>
            <span>SIGN UP BY EDITOR</span>
          </button>
        </article>
      </div>
    </div>
  </div>
</div>
