<<<<<<< HEAD
=======
#foot{
    position: fixed;
    min-height: 8vh;
    bottom: 0;
    width: 100%;
    /*background: rgb(152, 255, 152);*/
}
>>>>>>> d0866a6cccbc0498b27308b443afde3bf25bbb35

.hero-foot {
    position: relative;
    z-index: 1;
    background-color: hsl(310, 49%, 28%);
    min-width: 100vw;
  }
  
